
container_commands:
  01_syncdb:
    command: "manage.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPATH
    value: astraweb/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: astraweb.settings
  - namespace: aws:autoscaling:launchconfiguration
    option_name: aws-eb
    value: Astra1@astrA
