option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "astraweb.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "astraweb/wsgi.py"
    StaticFiles: "/static/=www/static/"

container_commands:
  01_install_requirements:
    command: "pip install -r requirements.txt"
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
  04_createsu:
    command: "python manage.py createsu"
    leader_only: true
  05_create_proj:
    command: "python astraweb/management/commands/project_creation.py"
    leader_only: true

packages:
  yum:
    postgresql95-devel: []
