ul {
    list-style: none;
}

.user-panel {
    border-radius: 12px;
    background: #fff;
    display: inline-block;
    float: right;
    margin-right: 110px;
    padding-right: 30px;
    margin-top: 60px;
}