.small-button {
    color: rgb(150, 150, 150);
    font-size: 12px;
    text-decoration: None;
}

.small-button:hover {
    text-decoration: underline;
}

.select-light {
    border-radius: 30px;
    border-color: #646464;
    border-width: 1px;
    background: rgba(0, 0, 0, 0);
    color: #646464;
}

.select-light:hover {
    background: #646464;
    color: #ffffff;
}

.selected-light {
    border-radius: 30px;
    background: #646464;
    color: #ffffff;
}

.submit-dark {
    width: 270px;
}

.submit-dark:hover {
    background-color: rgb(172, 172, 172);
    color: rgb(71, 71, 71);
    cursor: pointer; 
}

.submit-light {
    width: 270px;
    color: rgb(230, 230, 230);
    background-image: -moz-linear-gradient( 180deg, rgb(88,123,179) 0%, rgb(149,83,167) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(88,123,179) 0%, rgb(149,83,167) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(88,123,179) 0%, rgb(149,83,167) 100%);
    margin-top: 48px;
}

.submit-light:hover {
    cursor: pointer; 
    background-image: -moz-linear-gradient( 180deg, rgb(134, 167, 221) 0%, rgb(195, 134, 212) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(134, 167, 221) 0%, rgb(195, 134, 212) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(134, 167, 221) 0%, rgb(195, 134, 212) 100%);
}
